.header{
    display: flex;
    justify-content: space-between;
    border: solid black;
}

.logo{
    width: 100px;
}

.nav-items{
    font-size: 18px;
}
.nav-items > ul{
   display: flex;
   list-style-type: none;
   
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}
.res-card{
    padding: 5px;
    width: 200px;
    height: 320px;
    
}
.res-card:hover{
    border: 1px solid black;
}

.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
}